
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section footerJS{
    <script src="~/Assets/client/js/Controller/shoppingCart.js"></script>
}
<div class="women-product">
    <h3>Gio hang</h3>
    <div id="cartContent">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Stt</td>
                    <td>Ten san pham</td>
                    <td>Hinh anh</td>
                    <td>Gia</td>
                    <td>So luong</td>
                    <td>Thanh Tien</td>
                </tr>
            </thead>
            <tbody id="cartBody"></tbody>

        </table>

        <button class="btn btn-success" id="btnContinue">Tiep tuc mua</button>
        <button class="btn btn-danger" id="btnDeleteAll">xoa gio hang</button>
        <button class="btn btn-default" id="btnCheckOut">Thanh toan</button>

        <div class="pull-right">
            Tong tien : <span id="lblTotalOrder"></span>
        </div>
    </div>
    <div id="checkOut" class="hidden">
        <form method="post" action="contact-post.html">
            @if (Request.IsAuthenticated)
            {
                <label>
                    <input type="checkbox" id="chkUseLoginInfo" />
                    Su dung thong tin dang nhap
                </label>
            }
            <div class="form-group">
                <input type="text" class="form-control" id="txtName" placeholder="Ho ten" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="txtAddress" placeholder="Dia chi" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="txtEmail" placeholder="Email" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="txtPhone" placeholder="Dien thoai" />
            </div>
            <div class="form-group">
                <textarea value="" id="txtMessage" class="form-control">Message</textarea>
            </div>
            <input type="submit" value="send" class="btn btn-default" />
        </form>
    </div>
</div>
<script id="tplCart" type="x-tmpl-mustache">
    <tr>
        <td>{{ProductId}}</td>
        <td>{{ProductName}}</td>
        <td><img src="{{Image}}" width="50px" /></td>
        <td><div id="price_{{ProductId}}">{{Price}}</div></td>
        <td><input type="number" class="Quantity" data-price="{{Price}}" data-id="{{ProductId}}" value="{{Quantity}}" /></td>
        <td><div id="amount_{{ProductId}}">{{Amount}}</div></td>
        <td><button class="btn btn-danger btnDelete" data-id="{{ProductId}}">Xoa</button></td>
    </tr>
</script>
