
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="schoolController">
        10 + 20 = {{10+20}} <br />
        {{message}}
        <div ng-controller="studentController">
            <br />
            {{message}}
        </div>
        <div ng-controller="teacherController">
            <br />
            {{message}}
        </div>
    </div>

</body>
</html>
